<div class="floating-icon" style="top: 5%; left: 5%;">
    <i class="fas fa-cloud fa-3x" style="color: #3498db;"></i>
</div>
<div class="floating-icon" style="top: 25%; right: 8%;">
    <i class="fas fa-house-damage fa-3x" style="color: #e74c3c;"></i>
</div>
<div class="floating-icon" style="bottom: 15%; left: 12%;">
    <i class="fas fa-water fa-3x" style="color: #3498db;"></i>
</div>
<div class="floating-icon" style="top: 55%; right: 18%;">
    <i class="fas fa-wind fa-3x" style="color: #95a5a6;"></i>
</div>
<div class="floating-icon" style="bottom: 8%; right: 5%;">
    <i class="fas fa-fire fa-3x" style="color: #e67e22;"></i>
</div>
<div class="floating-icon" style="top: 35%; left: 18%;">
    <i class="fas fa-bolt fa-3x" style="color: #f1c40f;"></i>
</div>
<div class="floating-icon" style="bottom: 28%; right: 22%;">
    <i class="fas fa-mountain fa-3x" style="color: #27ae60;"></i>
</div>
<div class="floating-icon" style="top: 12%; right: 28%;">
    <i class="fas fa-first-aid fa-3x" style="color: #e74c3c;"></i>
</div>
<div class="floating-icon" style="bottom: 38%; left: 8%;">
    <i class="fas fa-hands-helping fa-3x" style="color: #9b59b6;"></i>
</div>
<div class="floating-icon" style="top: 45%; left: 30%;">
    <i class="fas fa-helicopter fa-3x" style="color: #34495e;"></i>
</div>
<div class="floating-icon" style="bottom: 20%; right: 35%;">
    <i class="fas fa-life-ring fa-3x" style="color: #f39c12;"></i>
</div>
<div class="floating-icon" style="top: 70%; left: 25%;">
    <i class="fas fa-broadcast-tower fa-3x" style="color: #16a085;"></i>
</div>